


  <h3> There are <%= @count %> contacts</h3>

  <ul>
  <% @contacts.each do |contact| %>

    <li class = 'icons'>
      <a href="/contacts/<%=contact.id%>"><%="#{contact.full_name} (#{contact.email})" %><br>
      <a href="/contacts/<%=contact.id%>/edit"><img src="/change.png" alt="edit"></a>


    <form action= "/contacts/<%=contact.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="image" src ="/trash.png" width="60">
    </form>
    </li>
  <% end %>

  </ul>

<!-- <form class="" action="/contacts" method="post"> -->
